/* CSS for McQuad Map */

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#body {
    /*border: 4px dotted yellow;*/
    background-color: #422;
    font-family: arial, helvetica, tahoma, sans-serif;
}

#mast {
    background-color: #422;
    color: #ce5b58;
    padding: 6px 12px;
    height: 64px;
}

.headdiv {
    display: inline-block;
    margin: 2px;
    padding: 2px;
}

.right {
    float: right;
}

#mast-title.headdiv {
    font-size: 18pt;
    top: 16px;
    left: 90px;
    position: absolute;
}

#mast-version.headdiv {
    font-size: 11pt;
    top: 42px;
    left: 90px;
    position: absolute;
}

#heatmap-btn {
    cursor: pointer;
}

#map {
    height: 90%;
    margin: 10px;
    border: 3px solid #644;
    background-color: #114;
}

#map svg {
    display: block;
    width: 100%;
    height: 100%;
}

#heatmap {
    width: 400px;
    height: 432px;
    background-color: #362A20;
    border: 3px solid #524031;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
}

#heatmap h2 {
    position: relative;
    top: 0;
    margin: 0;
    width: 400px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: #564022;
}

#heatmap img {
    position: relative;
    top: 8px;
    width: 400px;
    height: 400px;
}
